@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply w-full px-3 py-2 border border-slate-300 
                       rounded-md focus:ring-2 focus:ring-blue-500 
                       focus:border focus:border-blue-500 transition duration-200;
  }

  .btn-primary {
    @apply w-full bg-blue-600 text-white py-2 rounded-md 
                       hover:bg-blue-700 transition duration-300 
                       ease-in-out transform;
  }

  .table-header {
    @apply px-4 py-2 text-left text-sm font-medium 
                       text-slate-500 uppercase tracking-wider;
  }
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}
.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}
